In [2]:
def attempts(n):
    x=1
    while x<=n:
        print('attempts='+str(x))
        x+=1
    print('Done!')
attempts(5)

attempts=1
attempts=2
attempts=3
attempts=4
attempts=5
Done!

In [4]:
def get_username():
    name=input('enter your name:')
    return name
user_name=get_username()
def validuser_name():
    return 'Maher'
while user_name!=validuser_name():
    user_name=get_username()
print(user_name)

enter your name:sunny
enter your name:maher
enter your name:Maher
Maher

In [12]:
#Fill in the blanks to make the print_prime_factors function print all the prime factors 
#of a number. A prime factor is a number that is prime and divides another without a remainder.


def print_prime_factor(number):
    factor=2
    while factor <=number:
        if number%factor==0:
            print(factor)
            number=number/factor
        else:
            factor+=1
    print('Done')
print_prime_factor(100)

2
2
5
5
Done

In [15]:
#The following code can lead to an infinite loop. Fix the code so that it can finish successfully for all numbers.
#Note: Try running your function with the number 0 as the input, and see what you get!
def is_power_of_two(n):
    while n>0 and n%2==0:
        n=n/2
    if n==1:
        return True
    return False
print(is_power_of_two(0))
print(is_power_of_two(4))
print(is_power_of_two(16))
print(is_power_of_two(9))

False
True
True
False

In [17]:
def sum_divisors(n):
    sum = 0
    x=1
    while x<n:
        if n%x==0:
            sum+=x
        x+=1
  # Return the sum of all divisors of n, not including n
    return sum

print(sum_divisors(0))
# 0
print(sum_divisors(3)) # Should sum of 1
# 1
print(sum_divisors(36)) # Should sum of 1+2+3+4+6+9+12+18
# 55
print(sum_divisors(102)) # Should be sum of 2+3+6+17+34+51
# 114

0
1
55
114

In [19]:
def func(n):
    sum=0
    x=1
    while x<n:
        if n%x==0:
            sum+=x
        x+=1
    return sum
print(func(36))
print(func(0))
print(func(3))
print(func(102))

55
0
1
114

In [23]:
def multiplication_number(number):
    multiplier=1
    while multiplier<=5:
        result=number*multiplier
        if result>25:
            break
        print(str(number)+'*'+str(multiplier)+'='+str(number*multiplier))
        multiplier+=1
multiplication_number(3)
multiplication_number(8)
multiplication_number(5)

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
8*1=8
8*2=16
8*3=24
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25

In [24]:
def square(n):
    return n*n
def sum_square(x):
    sum=0
    for i in range(x):
        sum+=square(i)
    return sum
print(sum_square(10))

285

In [26]:
def to_celcius(x):
    return (x-32)*5/9
for i in range(0,101,10):
    print(i,to_celcius(i))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [28]:
for left in range(7):
    for right in range(left,7):
        print('['+str(left)+'|'+str(right)+']',end='')
    print('')

[0|0][0|1][0|2][0|3][0|4][0|5][0|6]
[1|1][1|2][1|3][1|4][1|5][1|6]
[2|2][2|3][2|4][2|5][2|6]
[3|3][3|4][3|5][3|6]
[4|4][4|5][4|6]
[5|5][5|6]
[6|6]

In [30]:
teams=['Bangladesh','india','pakistan','srilanka','Australia']
for home_team in teams:
    for away_team in teams:
        if home_team!=away_team:
            print(home_team+' vs '+away_team)

Bangladesh vs india
Bangladesh vs pakistan
Bangladesh vs srilanka
Bangladesh vs Australia
india vs Bangladesh
india vs pakistan
india vs srilanka
india vs Australia
pakistan vs Bangladesh
pakistan vs india
pakistan vs srilanka
pakistan vs Australia
srilanka vs Bangladesh
srilanka vs india
srilanka vs pakistan
srilanka vs Australia
Australia vs Bangladesh
Australia vs india
Australia vs pakistan
Australia vs srilanka

In [40]:
def is_valid():
    return ['taylor', 'luisa', 'jamaal']
        
def validate_user(users):
    for user in users:
        if user in is_valid():
            print(user+' is valid')
        else:
            print(user+' is not valid')
validate_user(['taylor', 'luisa', 'jamaal','Maher'])

taylor is valid
luisa is valid
jamaal is valid
Maher is not valid

In [43]:
for i in range(1,2):
    print(i)

1

In [46]:
def to_factorial(n):
    result=1
    for x in range(1,n):
        result*=x
    return result
for n in range(0,10):
    print(str(n)+"!",to_factorial(n+1))

0! 1
1! 1
2! 2
3! 6
4! 24
5! 120
6! 720
7! 5040
8! 40320
9! 362880

In [49]:
for x in range(1,11):
    print(str(x)+'**3'+'= '+str(x**3))

1**3= 1
2**3= 8
3**3= 27
4**3= 64
5**3= 125
6**3= 216
7**3= 343
8**3= 512
9**3= 729
10**3= 1000

In [50]:
0%7

0

In [51]:
hours=float(input('enter the hour:'))
rate=float(input('enter the rate:'))
def compute_pay(hour,rate):
    if hour>40:
        pay=40*rate
        h=hour-40
        after_40_hour_pay=h*rate*1.5
        total_pay=pay+after_40_hour_pay
    return total_pay

print(compute_pay(hours,rate))

enter the hour:45
enter the rate:10.50
498.75

In [53]:
def factorial(n):
    if n<2:
        return 1
    return n*factorial(n-1)
print(factorial(5))

120

In [54]:
def sum_positive_number(n):
    if n<1:
        return 0
    return n+sum_positive_number(n-1)
sum_positive_number(5)

15

In [57]:
def is_power(number,base):
    if number<base:
        if number==1:
            return True
        else:
            return False
    return is_power(number/base,base)
print(is_power(8,2))
print(is_power(70,10))

True
False

In [59]:
def multiplication_table(start,end):
    for x in range(start,end+1):
        for y in range(start,end+1):
            print(str(x*y),end=' ')
        print('')
multiplication_table(1,3)

1 2 3
2 4 6
3 6 9

In [73]:
def counter(start,stop):
    x=start
    if x>stop:
        return_string='counting down:'
        while x>=stop:
            return_string+=str(x)
            if x>stop:
                return_string+=','
            x-=1
    elif x<stop:
        return_string='counting_up:'
        while x<=stop:
            return_string+=str(x)
            if x<stop:
                return_string+=','
            x+=1
    return return_string

print(counter(10,1))
print(counter(1,10))

counting down:10,9,8,7,6,5,4,3,2,1
counting_up:1,2,3,4,5,6,7,8,9,10

In [74]:
for x in range(1, 10, 3):
    print(x)

1
4
7

In [75]:
for x in range(10):
    for y in range(x):
        print(y)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8