In [3]:
def converts_seconds(seconds):
    hours=seconds//3600
    minutes=(seconds-hours*3600)//60
    remaining_seconds=seconds-hours*3600-minutes*60
    return hours,minutes,remaining_seconds
hours,minutes,seconds=converts_seconds(5000)
print(hours)
print(minutes)
print(seconds)

1
23
20

In [16]:
number=int(input('enter a value='))
if number<=1:
    print("nothing")
if number>1:
    row_column=number
    for i in range(number):
        print('*'*row_column)

enter a value=2
**
**

In [21]:
# 1) Complete the function to return the result of the conversion
def convert_distance(miles):
	km = miles * 1.6  # approximately 1.6 km in 1 mile
	return km

my_trip_miles = 55

# 2) Convert my_trip_miles to kilometers by calling the function above
my_trip_km = convert_distance(my_trip_miles)
print(my_trip_km)

# 3) Fill in the blank to print the result of the conversion
print("The distance in kilometers is " +str(my_trip_km))

# 4) Calculate the round-trip in kilometers by doubling the result,
#    and fill in the blank to print the result
result=my_trip_km*2
print("The round-trip in kilometers is " +str(result))

88.0
The distance in kilometers is 88.0
The round-trip in kilometers is 176.0

In [22]:
print(9999+8888)

18887

In [23]:
print(100*100)

10000

In [24]:
18887>10000

True

In [26]:
1/4096>0

True

In [28]:
1%4096

1

In [29]:
1/4096

0.000244140625

In [35]:
4096%4097

4096

In [36]:
string=''
len(string)

0

In [37]:
def format_name(first_name, last_name):
	# code goes here
	if len(first_name)>0 and len(last_name)>0:
		string="Name: "+last_name+", "+first_name
	elif len(first_name)==0 and len(last_name)>0:
		string="Name: "+last_name
	elif len(first_name)>0 and len(last_name)==0:
		string="Name: "+first_name
	elif len(first_name)==0 and len(last_name)==0:
		string=""
	
	return string 

print(format_name("Ernest", "Hemingway"))
# Should return the string "Name: Hemingway, Ernest"

print(format_name("", "Madonna"))
# Should return the string "Name: Madonna"

print(format_name("Voltaire", ""))
# Should return the string "Name: Voltaire"

print(format_name("", ""))
# Should return an empty string

Name: Hemingway, Ernest
Name: Madonna
Name: Voltaire

In [38]:
def sum(x, y):
		return(x+y)
print(sum(sum(1,2), sum(3,4)))

10

In [39]:
((10 >= 5*2) and (10 <= 5*2))

True

In [44]:
result=5/4
print("0."+str(result)[2:])

0.25

In [45]:
0/5

0.0

In [54]:
5/5

1.0

In [79]:
numerator=5
denominator=4
result=numerator/denominator
result1='0.'+str(result)[2:]

print(result1)

0.25

In [75]:
def fractional_part(numerator, denominator):
	# Operate with numerator and denominator to 
    # keep just the fractional part of the quotient
    if  (numerator>0) and (denominator>0):
	    str(result)=numerator/denominator
		result1="0."+result[2:]
		return result1
	if (numerator>0) and (denominator==0):
		return '0'
	if (numerator==0) and (denominator>0):
		return '0'
	#return result1

print(fractional_part(5, 5)) # Should be 0
print(fractional_part(5, 4)) # Should be 0.25
print(fractional_part(5, 3)) # Should be 0.66...
print(fractional_part(5, 2)) # Should be 0.5
print(fractional_part(5, 0)) # Should be 0
print(fractional_part(0, 5)) # Should be 0

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

In [94]:
def fractional_part(numerator, denominator):
    if  (numerator>0) and (denominator>0):
	    result=numerator/denominator
	    result1="0."+str(result)[2:]
	    return float(result1)
    if (numerator>0) and (denominator==0):
        return 0
    if (numerator==0) and (denominator>0):
	    return 0
	 #return result1

print(fractional_part(5, 5)) # Should be 0
print(fractional_part(5, 4)) # Should be 0.25
print(fractional_part(5, 3)) # Should be 0.66...
print(fractional_part(5, 2)) # Should be 0.5
print(fractional_part(5, 0)) # Should be 0
print(fractional_part(0, 5)) # Should be 0

0.0
0.25
0.6666666666666667
0.5
0
0